<form method="POST" action="/auth/new/create">
    <fieldset>
        <legend><span>Create a New User</span></legend>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Username</span><input type="text" name="username" id="username"/></label>
        </p>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Full Name</span><input type="text" name="fullname" id="fullname"/></label>
        </p>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Email Address</span><input type="text" name="email" id="email"/></label>
        </p>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Zip Code</span><input type="text" name="zip" id="zip"/></label>
        </p>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Password</span><input type="password" name="password" id="password"/></label>
        </p>
        <p class="fld">
            <label class="lbl"><span class="lbl-cap">Verify Password</span><input type="password" name="verify" id="verify"/></label>
        </p>
        <p class="btn">
            <input type="submit" value="Create New User"/>
        </p>
    </fieldset>
</form>