<div class="header">
    <h1 class="h1 hd"><span class="hd-cap">Dashboard</span></h1>
</div>
<div class="main">
    <div class="content">
        <h2 class="h2 sub-hd"><span class="sub-hd-cap">Home</span></h2>
        <p>
            <%= user %>
        </p>
    </div>
</div>