<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WorkLoom</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
</head>
<body>
  <div id="contentWrapper" class="overPos">
     <div id="mainHome" class="overPos">
         <div id="logoBlock">&nbsp;</div>
         <div id="homeContent">
             <div class="indent">
                <p>
                  Combine your social media sources into a single, easy-to-view digest.
                </p>
                <p>
                  Notice where you spend most of your time during the day.
                </p>
                <p>
                  Compete with others to see who's the most active.
                </p>
             </div>
         </div>
      </div>
  </div>
</body>
</html>