<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WorkLoom</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
</head>
<body>
  <div id="contentWrapper" class="overPos">
     <div id="mainHome" class="overPos">
         <div id="logoBlock"><a href="http://nodeknockout.com/teams/zenith-workloom" target="nko" title="Help me win Node.js KO!"><img style="position: fixed; top: 5px; right: 5px; border: 0px;" src="http://nodeknockout.com/images/voteko.png" alt="Help me win Node.js KO!"></a></div>
         <div id="homeContent">
             <div class="indent" >
                <p>
                  Combine your social media sources into a single, easy-to-view digest.
                </p>
                <p>
                  Notice where you spend most of your time during the day.
                </p>
                <p>
                  Compete with others to see who's the most active.
                </p>
             </div>
         </div>
         <p>&nbsp;</p>
         <div id="homeContent">
             <div class="indent">
    	           <p>Click any of these services<br/>to Sign In.</p>
    	           <ul class="authIcons">
    	               <li><a class="sprite_icons icon-63 left fb" href="#" title="Sign in with Facebook">Facebook</a></li>
    	               <li><a class="sprite_icons icon-63 left tw" href="/auth/twitter" title="Sign in with Twitter">Twitter</a></li>
    	               <li><a class="sprite_icons icon-63 left fs" href="/auth/foursquare" title="Sign in with FourSquare">FourSquare</a></li>
    	               <li class="last"><a class="sprite_icons icon-63 left gh" href="/auth/github" title="Sign in with GitHub">GitHub</a></li>
    	           </ul>
    	           <p class="little">If you have signed in previously, you will need to select a service you have used before to avoid creating a new user.</p>
    	           <p class="little">If you are a new user, pick a service.</p>
    	       </div>
         </div>
         <p>&nbsp;</p>
         <div id="homeContent">
             <div class="indent">
    	           <p>All About Us</p>
    	           <p class="little">We were bold, folks. I'll say that.</p>
    	           <p class="little">
    	              We were granted a team at the last minute by the very gracious folks at Node Knockout.  Our team name
    	              was randomly generated from two words: "zenith" and "workloom".  Surprisingly, WorkLoom seemed to fit
    	              our idea perfectly.
    	           </p>
    	           <p class="little">
    	              This was our first every event of this type.
    	              We had a great time, learned a lot and we're going to continue building all the crazy "wow's" we were
    	              planning.  We hope you take a look back in a few months and check in.
    	           </p>
    	           <p class="little">
    	              Cheers!
    	           </p>
    	           <p class="little">
    	              Clint Hall - Node Dude
    	           </p>
    	           <p class="little">
    	              <a href="http://github.com/kylejginavan">Kyle J. Ginavan</a> - GitHub Gent
    	           </p>
    	           <p class="little">
    	              Jacob McDaniel - Visual Artist
    	           </p>
    	       </div>
         </div>
     </div>
   </div>
</body>
</html>