  <div id="contentWrapper" class="overPos">
	   <div id="mainHome" class="overPos">
    	   <div id="logoBlock">&nbsp;</div>
    	   <div id="homeContent">
    	       <div class="indent">
                <p>Create a New Username</p>
                <%
                    if(error) {
                %>
                <p class="error">
                    <%= error %>
                </p>
                <%
                    }
                %>
                <form method="POST" action="/user/new/save">
                    <p><label>Username: <input type="text" name="username"/></label></p>
                    <p><input type="hidden" name="tzo" id="tzo"></p>
                    <p><input type="submit" value="Go, Go, Gadget Username!" /></p>
                </form>

    	           <p class="little">If you are a new user, enter a unique username. We'll tell you if it's taken.</p>
    	           <p class="little">
    	              If you have signed in previously and are seeing this now, you chose to authorize access with
    	              an account you havent't associated before; you need to <a href="/auth">sign in</a> with that service first.
    	           </p>
              </div>
            </div>
          </div>
        </div>
<script type="text/javascript">
  var tzo = new Date().getTimezoneOffset()/60;
  document.getElementById("tzo").value = tzo;
</script>