
<div class="header">
    <h1 class="h1 hd"><span class="hd-cap">New User Created</span></h1>
</div>
<div class="main">
    <div class="content">
        <h2 class="h2 sub-hd"><span class="sub-hd-cap">New User Created!</span></h2>
        <%= JSON.stringify(request.session.user) %>
        <a href="/user">Home</a>
    </div>
</div>